<h1>¡Bienvenido/a, {{ student_name }}!</h1>

<p>Nos complace darte la bienvenida a nuestra institución. A continuación, te proporcionamos los detalles para que puedas acceder a nuestro sitio:</p>
<br>
<p><strong>URL del sitio:</strong> <a href="{{ website_url }}">{{ website_url }}</a></p>
<p><strong>Usuario:</strong> {{ student.user.email }}</p>
<p><strong>Contraseña:</strong> Tu DNI (sin puntos)</p>
<br>
<p>Por razones de seguridad, te recomendamos encarecidamente cambiar tu contraseña en tu primer inicio de sesión.</p>
<br>
<p>Gracias por ser parte de nuestra comunidad educativa. ¡Esperamos que tengas una experiencia enriquecedora con nosotros!</p>
