#Para instalar todos los paquees pip: -r requirements.txt
django
django-admin
django-rest-auth
django-allauth
psycopg2
pillow
djangorestframework
django-cors-headers
django-countries[pyuca]
django-simple-history
drf-yasg #documentación API Swagger

