<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constancia de Alumno Regular</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            line-height: 1.6;
        }
        h1, h2 {
            text-align: center;
        }
        p {
            text-indent: 20px;
        }
        .footer {
            font-weight: bold;
            margin-top: 50px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>1991 - {{ actual_year }} JUVENIL INSTITUTO FUEGUINO</h1>
    <h4>“30 años trabajando para que la inclusión se concrete en un estilo de vida”</h4>
    <h2>{{ institute_name }}</h2>

    <h2>CONSTANCIA DE ALUMNO REGULAR</h2>
    <p>
        JUVENIL INSTITUTO FUEGUINO - PRIMARIO C.U.E. N° 940009600
        <br>
        AVENIDA LIBERTAD 965 CENTRO - RIO GRANDE
    </p>

    <p>
        Se hace constar que {{ student_name }}, documento tipo: DNI, N° {{ doc_number }} es alumno/a regular de este establecimiento y se encuentra cursando año {{ grade }}, división {{ division }} del servicio y nivel {{ level }}.
    </p>

    <p>
        A pedido del/a interesado/a y al solo efecto de ser presentada ante quien corresponda se extiende la presente, sin enmiendas ni raspaduras en la ciudad de Rio Grande, Provincia de Tierra del Fuego, el {{ date }}.
    </p>

    <div class="footer">DOCUMENTO NO VÁLIDO PARA EL COBRO DE SALARIO FAMILIAR </div>
</body>

</html>
